@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: $defaultFontSize;
}

a {
  text-decoration: none;
}

.navbar {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $fontColor;
  }

  div {
    display: flex;

    border-right: 1px solid black;

    line-height: 46px;
  }
  
  img {
    padding: 0 10px;
  }
}

.div-company {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.64em;
}

main {
  margin-top: 160px;

  display: flex;
}

.div-view {
  margin-left: 52px;

  color: $fontColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.second-gradient {
  margin-top: 52px;
}

.p-view {
  margin-top: 33px;
}

.div-item-photo {
  margin-left: 120px;

  position: relative;
}

.p-item-photo {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.64em;

  color: white;
}

.p-item {
  position: absolute;
  left: 37.5%;
  top: 10.5%;
}

.p-photo {
  position: absolute;
  left: 32.5%;
  bottom: 15.5%;
}

.div-item-name {
  margin-left: 143px;

  > a {
    color: $fontColor;
  } 
}

.btn {
  width: 443px;
  height: 68px;

  display: block;
  
  text-align: center;
}

.btn-with-arrow {
  width: 443px;
  height: 68px;

  display: flex;
}

.btn-personalise {
  margin-top: 30px;

  border: 2px solid black;
  padding: 17px 140px;
} 

.btn-card {
  margin-top: 30px;

  width: 380px;

  border: 2px solid white;
  padding: 17px 74px 17px 140px;

  background-color: black;
  color: white;
}

.p-card {
  margin-left: 28px;
}

.btn-plus {
  margin-top: 30px;

  width: 64px;

  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #000000;

  padding: 18.5px;
}

.img-plus {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.item-name-btns {
  width: 443px;
  height: 68px;

  display: flex;
  align-items: center;
}

.p-delivery {
  margin-top: 30px;
}

.btn-material {
  margin-top: 90px;

  border: 2px solid black;
  padding: 17px 140px;
}

.btn-demensions {
  margin-top: 22px;
  
  border: 2px solid black;
  padding: 17px 140px;
}

.arrow-down-1 {
  margin-left: 175px;
}

.arrow-down-2 {
  margin-left: 142.5px;
}