@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: $defaultFontSize;
}

a {
  text-decoration: none;
}

.navbar {
  list-style-type: none;

  display: flex;
  align-items: center;

  a {
    color: $fontColor;
  }

  div {
    border: solid black;
    border-width: 0 2px 0 0;

    line-height: 46px;
  }

  .nav-card1-2 {
    > a {
      padding: 20px 60px 0 60px;
    }
  }

  .nav-card3 {
    > a {
      padding: 20px 40px 0 60px;
      letter-spacing: 0.64em;
      font-size: 32px;
    }
  }

  .nav-card4 {
    border: none;

    .nav-card4-items {
      border: none;
      display: flex;
      align-items: center;
      margin-top: -8.5px;
      position: relative;

      img {
        position: absolute;
        margin-top: 12px;
        margin-left: 5px;
      }

      input {
        background: #E7E7E7;
        border: 1px solid black;
        border-radius: 48px;

        width: 333px;
        height: 29px;
        margin: 10px 6px 0 12px;
        
        padding-left: 40px;

        &::placeholder {
          padding-left: 95px;
          color: black;
        }
      }
    }
  }

  img {
    padding: 0 14px 0 14px;
  }

  .nav-card9 {
    border: none;
    
    img {
      margin-top: 9px;
    }
  }
}

.nav-card5 {
  > a {
   padding: 0px 70px;
  }
}

main {
  margin-top: 160px;

  display: flex;
}

.div-view {
  margin-left: 52px;

  color: $fontColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.second-gradient {
  margin-top: 52px;
}

.p-view {
  margin-top: 33px;

  a {
    color: $fontColor;
  }
}

.div-item-photo {
  margin-left: 120px;

  position: relative;
}

.p-item-photo {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.64em;

  color: white;
}

.p-item {
  position: absolute;
  left: 37.5%;
  top: 10.5%;
}

.p-photo {
  position: absolute;
  left: 32.5%;
  bottom: 15.5%;
}

.div-item-name {
  margin-left: 143px;

  > a {
    color: $fontColor;
  } 
}

.btn {
  width: 443px;
  height: 68px;

  display: block;
  
  text-align: center;
}

.btn-with-arrow {
  width: 443px;
  height: 68px;

  display: flex;
}

.btn-personalise {
  margin-top: 30px;

  border: 2px solid black;
  padding: 17px 140px;

  transition: .3s;

  &:hover {
    color: white;
    background: $fontColor;
  }
} 

.btn-card {
  margin-top: 30px;

  width: 380px;

  border: 2px solid white;
  padding: 17px 74px 17px 140px;

  background-color: black;
  color: white;

  transition: .3s;

  &:hover {
    color: $fontColor;
    background: white;
    border: 2px solid black;
  }
}

.p-card {
  margin-left: 28px;
}

.btn-plus {
  margin-top: 30px;

  width: 64px;

  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #000000;

  padding: 20.5px;
}

.img-plus {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.item-name-btns {
  width: 443px;
  height: 68px;

  display: flex;
  align-items: center;
}

.p-delivery {
  margin-top: 30px;
}

.btn-material {
  margin-top: 90px;

  border: 2px solid black;
  padding: 17px 140px;
  
  transition: .3s;

  &:hover {
    color: white;
    background: $fontColor;
  }
}

.btn-demensions {
  margin-top: 22px;
  
  border: 2px solid black;
  padding: 17px 140px;
  
  transition: .3s;

  &:hover {
    color: white;
    background: $fontColor;
  }
}

.arrow-down-1 {
  margin-left: 125.5px;
}

.arrow-down-2 {
  margin-left: 110px;
}

.p-material {
  margin-left: 50px;
}

.p-dimensions {
  margin-left: 32.5px;
}

footer {
  margin-top: 170px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-ul {
    display: flex;
    align-items: center;

    list-style: none;
  }

  a {
    color: $fontColor;
  }

  div {
    border: solid black;
    border-width: 0 2px 0 0;

    line-height: 46px;
  }

  .footer-cart1 {
    border: none;

    .footer-a-cart {
      background: black;
      color: white;

      padding: 10px 65px;
    }
  }
}

.footer-cart2-3-4 {
  > a {
    padding: 0px 40px;
  }
}

.footer-cart5 {
  > a {
    padding: 0px 60px;
  }
}

.footer-cart6 {
  border: none;

  > a {
    padding: 0px 238px;
  }
}