* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar a {
  color: #000000;
}
.navbar div {
  border: solid black;
  border-width: 0 2px 0 0;
  line-height: 46px;
}
.navbar .nav-card1-2 > a {
  padding: 20px 60px 0 60px;
}
.navbar .nav-card3 > a {
  padding: 20px 40px 0 60px;
  letter-spacing: 0.64em;
  font-size: 32px;
}
.navbar .nav-card4 {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .nav-card4 .nav-card4-items {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -8.5px;
  position: relative;
}
.navbar .nav-card4 .nav-card4-items img {
  position: absolute;
  margin-top: 10px;
  margin-left: 90px;
}
.navbar .nav-card4 .nav-card4-items input {
  background: #E7E7E7;
  border: 1px solid black;
  border-radius: 48px;
  width: 333px;
  height: 29px;
  margin: 10px 6px 0 12px;
  padding-left: 20px;
}
.navbar .nav-card4 .nav-card4-items input::-webkit-input-placeholder {
  padding-left: 100px;
  color: black;
}
.navbar .nav-card4 .nav-card4-items input::-moz-placeholder {
  padding-left: 100px;
  color: black;
}
.navbar .nav-card4 .nav-card4-items input:-ms-input-placeholder {
  padding-left: 100px;
  color: black;
}
.navbar .nav-card4 .nav-card4-items input::-ms-input-placeholder {
  padding-left: 100px;
  color: black;
}
.navbar .nav-card4 .nav-card4-items input::placeholder {
  padding-left: 100px;
  color: black;
}
.navbar img {
  padding: 0 14px 0 14px;
}

.div-company {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.64em;
}

main {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-view {
  margin-left: 52px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.second-gradient {
  margin-top: 52px;
}

.p-view {
  margin-top: 33px;
}

.div-item-photo {
  margin-left: 120px;
  position: relative;
}

.p-item-photo {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.64em;
  color: white;
}

.p-item {
  position: absolute;
  left: 37.5%;
  top: 10.5%;
}

.p-photo {
  position: absolute;
  left: 32.5%;
  bottom: 15.5%;
}

.div-item-name {
  margin-left: 143px;
}
.div-item-name > a {
  color: #000000;
}

.btn {
  width: 443px;
  height: 68px;
  display: block;
  text-align: center;
}

.btn-with-arrow {
  width: 443px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-personalise {
  margin-top: 30px;
  border: 2px solid black;
  padding: 17px 140px;
}

.btn-card {
  margin-top: 30px;
  width: 380px;
  border: 2px solid white;
  padding: 17px 74px 17px 140px;
  background-color: black;
  color: white;
}

.p-card {
  margin-left: 28px;
}

.btn-plus {
  margin-top: 30px;
  width: 64px;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #000000;
  padding: 18.5px;
}

.img-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-name-btns {
  width: 443px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-delivery {
  margin-top: 30px;
}

.btn-material {
  margin-top: 90px;
  border: 2px solid black;
  padding: 17px 140px;
}

.btn-demensions {
  margin-top: 22px;
  border: 2px solid black;
  padding: 17px 140px;
}

.arrow-down-1 {
  margin-left: 125.5px;
}

.arrow-down-2 {
  margin-left: 110px;
}

.p-material {
  margin-left: 50px;
}

.p-dimensions {
  margin-left: 32.5px;
}

footer {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 12px;
}

.footer-btn-1 {
  width: 163px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
}
.footer-btn-1 a {
  color: white;
}

.footer-btn-2-3-4-5 {
  width: 163px;
  height: 50px;
  background-color: white;
  border: solid black;
  border-width: 0 2px 0 0;
  color: black;
}
.footer-btn-2-3-4-5 a {
  color: black;
}

.footer-btn-6 {
  width: 625px;
  height: 50px;
}
.footer-btn-6 a {
  color: black;
}